
@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>
<li>@Html.ActionLink("Event administration", "Index", "Home")</li>
<li>@Html.ActionLink("User administration", "Index", "User")</li>
<li>@Html.ActionLink("Ticket administration", "Index", "Ticket")</li>
<li>@Html.ActionLink("Sport administration", "Index", "Sport")</li>
<li>@Html.ActionLink("Team administration", "Index", "Team")</li>
